src/state-machines/detect-faces.yaml
Comment: A description of my state machine
StartAt: GetJpegItemEvent
States:
  GetJpegItemEvent:
    Type: Task
    Resource: arn:aws:states:::events:putEvents.waitForTaskToken
    Parameters:
      Entries:
        - Detail:
            Key:
              pk.$: States.Format('{}#{}', $.s3_bucket, $.s3_object_key)
              sk: jpeg#v0
            X_StepFunctionTaskToken.$: $$.Task.Token
          DetailType: AWS::DynamoDB::GetItem
          EventBusName: ${EventBusName}
          Source: io.serverlessops.PhotoLab.DetectFaces
    Next: HasJpegDdbData
    ResultPath: $.Ddb
  HasJpegDdbData:
    Type: Choice
    Choices:
      - Variable: $.Ddb.Item
        IsPresent: true
        Next: HeadObject
    Default: CreateJpegEvent
  HeadObject:
    Type: Task
    Parameters:
      Bucket.$: $.Ddb.Item.s3_bucket
      Key.$: $.Ddb.Item.s3_object_key
    Resource: arn:aws:states:::aws-sdk:s3:headObject
    Next: DescribeCollection
    Catch:
      - ErrorEquals:
          - States.TaskFailed
        Next: CreateJpegObjectEvent
        Comment: Fail on object not found
        ResultPath: $.S3HeadObjectError
    ResultPath: null
  DescribeCollection:
    Type: Task
    Next: IndexFaces
    Parameters:
      CollectionId.$: $.s3_bucket
    Resource: arn:aws:states:::aws-sdk:rekognition:describeCollection
    ResultPath: null
    Catch:
      - ErrorEquals:
          - States.TaskFailed
        Comment: Collection does not exist
        Next: CreateCollection
        ResultPath: $.RekognitionDescribeCollectionError
  CreateCollection:
    Type: Task
    Parameters:
      CollectionId.$: $.s3_bucket
    Resource: arn:aws:states:::aws-sdk:rekognition:createCollection
    Next: DescribeCollection
    ResultPath: null
  IndexFaces:
    Type: Task
    Next: Map
    Parameters:
      CollectionId.$: $.s3_bucket
      DetectionAttributes:
        - ALL
      Image:
        S3Object:
          Bucket.$: $.Ddb.Item.s3_bucket
          Name.$: $.Ddb.Item.s3_object_key
    Resource: arn:aws:states:::aws-sdk:rekognition:indexFaces
    ResultPath: $.Faces
  Map:
    Type: Map
    Iterator:
      StartAt: Pass
      States:
        Pass:
          Type: Pass
          End: true
    End: true
    ItemsPath: $.Faces.FaceRecords
  CreateJpegObjectEvent:
    Type: Task
    Resource: arn:aws:states:::events:putEvents.waitForTaskToken
    Parameters:
      Entries:
        - Detail:
            s3_bucket.$: $.s3_bucket
            s3_object_key.$: $.s3_object_key
            X_StepFunctionTaskToken.$: $$.Task.Token
          DetailType: PhotoOps::CreateJpeg::Invoke
          EventBusName: ${EventBusName}
          Source: io.serverlessops.PhotoLab.DetectFaces
    ResultPath: null
    Next: HeadObject
  CreateJpegEvent:
    Type: Task
    Resource: arn:aws:states:::events:putEvents.waitForTaskToken
    Parameters:
      Entries:
        - Detail:
            s3_bucket.$: $.s3_bucket
            s3_object_key.$: $.s3_object_key
            X_StepFunctionTaskToken.$: $$.Task.Token
          DetailType: PhotoOps::CreateJpeg::Invoke
          EventBusName: ${EventBusName}
          Source: io.serverlessops.PhotoLab.DetectFaces
    ResultPath: null
    Next: GetJpegItemEvent
